body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

h1 {
  color: rgb(148, 140, 140);
  font-size: 8em;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
  letter-spacing: -2px;
}

.espace {
  margin-top: 60;
}

.button1 {
  background-color: #3f2e39; 
  color:white;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 28px;
}
.button2 {
  background-color: #af4c6d; 
  color:white;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 30;
  border-radius: 28px;
}
.button3 {
  background-color: #e7cd36; 
  color:black;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 28px;
}
.button4 {
  background-color: #af4c51; 
  color:white;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 30;
  border-radius: 28px;
}
.button5 {
  background-color: #af4c8e; 
  color:white;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 28px;
}
.button6 {
  background-color: #af4c6d; 
  color:white;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 30;
  border-radius: 28px;
}
.button7 {
  background-color: #cecece; 
  color:black;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 28px;
}
.button8 {
  background-color: #cecece; 
  color:black;
  padding: 15px 32px;
  width: 140px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 30;
  border-radius: 28px;
}