<html>

    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    </head>

    <title>OSC RADIO</title>
    <center>
        <h1>Radio</h1>
    </center>

    <body>

        <center>

            <div class="buttonContainer">

                <div class="espace">
                    <a href="/canut/1" class="button1">Radio Canut</a>
                    <a href="/musique/1" class="button2">France Musique</a>
                </div>
                <div class="espace">
                    <a href="/info/1" class="button3">France Info</a>
                    <a href="/inter/1" class="button4">France Inter</a>
                </div>
                <div class="espace">
                    <a href="/culture/1" class="button5">France Culture</a>
                    <a href="/fip/1" class="button6">FIP</a>
                </div>
                <div class="espace">
                    <a href="/stop/1" class="button7">STOP</a>
                    <a href="/off/1" class="button8">Power OFF</a>

                </div>
            </div>

            <div id="slidecontainer">
                <input type="range" min="0" max="127" value="" id="range1" class="slider">
                <p>Volume: <span id="range1_value"></span></p>
            </div>

            <script src="{{url_for('static', filename='script/slider.js')}}"></script>

        </center>
    </body>

</html>